.disinline{
    white-space: nowarp;
}

*{
    text-align: center;
}

@font-face {
    font-family: "genshin"; /*任意のフォントファミリー名でOK*/
    src: url("./font/genshin.ttf") format("truetype");
    font-display: swap;
}
.text-damage{
    font-family: 'genshin';
}
