.disinline{
    white-space: nowarp;
}

*{
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.text-damage-print{
  -webkit-text-stroke-width: 0.5px;
  font-weight: bold;
}
.lunar-charged{
  background: -webkit-linear-gradient(top, #E19BFF, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lunar-bloom{
  background: -webkit-linear-gradient(top, #00EA52, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lunar-charged h2{
  background: -webkit-linear-gradient(top, #E19BFF, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lunar-bloom h2{
  background: -webkit-linear-gradient(top, #00EA52, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: "genshin";
    src: url("./font/genshin.ttf") format("truetype");
    font-display: swap;
}
.text-damage{
    font-family: 'genshin';
    -webkit-text-stroke-width: 0.2px;
}
.output-damage-box{
  background-image: url('./image/damage-backgrounds/2.png');
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  align-content: center;
  height: 50em;
}